<!-- Breadcrumb -->
<div class="breadcrumb text">
	<a href="#!/albums" class="item">Albums</a>
	<i class="fa fa-arrow-right"></i>
	<span href="#" class="item">{{ vm.album.getName() }}</span>
	<i class="fa fa-arrow-right"></i>
	<span href="#" class="item">Photos <span class="label">{{ vm.photos.length }}</span></span>
</div>

<div class="action-row action-row-right">
	<button type="button" class="action-button text" ng-click="vm.deleteAlbum()"><i class="fa fa-trash"></i> DELETE ALBUM</button>
	<a href="#!/albums/{{vm.album.getId()}}/new" class="action-button text"><i class="fa fa-plus-circle"></i> ADD IMAGE</a>
</div>

<!-- Page content -->
<div class="content">
	<div class="photos">
		<div class="photo-wrapper" ng-repeat="photo in vm.photos track by $index">
			<i class="fa fa-times drop-photo-btn" ng-click="vm.deletePhoto(photo.getId())"></i>
			<a href="#!/albums/{{ vm.album.getId() }}/photos/{{photo.getId()}}" title="">
				<img ng-src="{{ photo.getUrl() }}" alt="" class="photo">
			</a>
			<ul class="photo-data text">
				<li class="datum">Comments <span class="label">{{ photo.getCommentsCount() }}</span></li>
				<li class="datum">Prospect Buyers <span class="label">{{ photo.getProspectBuyersCount() }}</span></li>
				<li class="datum">Buyers <span class="label">{{ photo.getBuyersCount() }}</span></li>
			</ul>
		</div>
	</div>
</div>
